
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="content-text">
    <div class="container" style="padding-left:50px;padding-right:50px">
        <div id="google-maps" class="col-md-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.6303567556893!2d28.838218414826024!3d41.011463127178786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa4bf1c2b0225%3A0x43047b79c72aafbf!2sKocasinan+Merkez%2C+Kafkas+Sitesi%2C+34186+Bah%C3%A7elievler%2F%C4%B0stanbul!5e0!3m2!1str!2str!4v1566563513539!5m2!1str!2str" width="800" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <h3>İletişim</h3>
    <div>
        <h4>Adres:</h4>
        <p>Kocasinan Merkez, Kafkas Sitesi, Bahçelievler/İstanbul</p>
        <h4>Telefon:</h4>
        <h5>0212-569-38-77</h5>
    </div>

</div>
  