@using MvcStok.Models.Entity
@model List<tbl_Kategori>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>KATEGORİ ID</th>
        <th>KATEGORİ ADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    <tbody>
        @foreach(var ktgr in Model)
        {
        <tr>
            <th>@ktgr.KategoriID</th>
            <td>@ktgr.KategoriAd</td>
            <td><a href="~/Kategori/Sil/@ktgr.KategoriID" class="btn btn-danger">SİL</a></td>
            <td><a href="~/Kategori/KategoriGetir/@ktgr.KategoriID" class="btn btn-success">GÜNCELLE</a></td>
        </tr>
        }
    </tbody>
</table>
<a href="~/Kategori/YeniKategori/" class="btn btn-primary">YENİ KATEGORİ EKLE</a>

